body{ font-family:'Helvetica Neue',Helvetica,'Lucida Grande','Luxi Sans',Arial,'Hiragino Sans GB',STHeiti,'Microsoft YaHei','Wenquanyi Micro Hei','WenQuanYi Micro Hei Mono','WenQuanYi Zen Hei','WenQuanYi Zen Hei Mono',LiGothicMed!important;}	
#contenter { margin:0 auto; height:380px; font-size:10pt;}
#contenter th { font-size:11pt; }
#contenter td{ font-size:11pt; }
#tabs_clqk{ min-height:390px; line-height:25px; letter-spacing:1px; word-wrap : break-word ;word-break:break-all;}
#tabs_lcjl{ min-height:390px; line-height:25px; letter-spacing:1px; padding:5px; word-wrap : break-word ;word-break:break-all;}
#tabs_clyj{ min-height:390px; line-height:25px; letter-spacing:1px; padding:5px; word-wrap : break-word ;word-break:break-all;}
