#userName {
    display: none;
    color: red;
}
#messageBox {
    width: 55%;
    position: relative;
    border: 1px solid #CCC;
}
#messageBox, #chatList{
    float: left;
    height: 98%;
    /*
    padding: 10px;
    */
    width: 69%;
    /*
    overflow: auto;
    */
    background-color: #f5f5f5;
}
.box_hd .title_wrap{
    background-color: #f5f5f5
}
#chatList {
    width: 30%;
    background:#2e3238;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.ztree li a{
    color: #2fd6c7;
}
.userHeader{
    height: 40px;
}
.userScroll{
    overflow: auto;
    height: 90%;
}
#allUser{
    padding-top: 2px;
    text-align: center;
}
::-webkit-scrollbar-track-piece { //æ»šåŠ¨æ¡å‡¹æ§½çš„é¢œè‰²ï¼Œè¿˜å¯ä»¥è®¾ç½®è¾¹æ¡†å±žæ€§
background-color:green;
}
::-webkit-scrollbar {//æ»šåŠ¨æ¡çš„å®½åº¦
width:2px;
    height:9px;
}
::-webkit-scrollbar-thumb {//æ»šåŠ¨æ¡çš„è®¾ç½®
background-color:green;
    background-clip:padding-box;
    min-height:28px;
}
::-webkit-scrollbar-thumb:hover {
    background-color:#2e3238;
    width: 2px;
}
p {
    margin: 0;
}
input[type="text"] {
    width: 100%;
    height: 32px;
    margin-left: 7px;
    border: 1px #CCC solid;
}
select {
    height: 25px;
    line-height: 25px;
}

#chatList{

}
.backList{
    display: none;
}
.span_font{
    color: #fff;
    font-size: 18px;
}
.box_ft {
    height: 180px;
    margin-right: 0px;
    border-top: 1px solid #d6d6d6;
}
.action {
    text-align: right;
    margin-top: 5px;
    margin-right: 10px;
}
.box_bd::-webkit-scrollbar {/*æ»šåŠ¨æ¡æ•´ä½“æ ·å¼*/
    width: 5px;     /*é«˜å®½åˆ†åˆ«å¯¹åº”æ¨ªç«–æ»šåŠ¨æ¡çš„å°ºå¯¸*/
    height: 1px;
}
.box_bd::-webkit-scrollbar-thumb {/*æ»šåŠ¨æ¡é‡Œé¢å°æ–¹å—*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #9e9e9e;
}
.box_bd::-webkit-scrollbar-track {/*æ»šåŠ¨æ¡é‡Œé¢è½¨é“*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    background: #EDEDED;
}
.userList {
    bottom: 185px;
    /* padding: 0 19px; */
    /*    overflow-y: auto;
        overflow-x: hidden;*/
}
.ng-scope{
    margin-right: 5px;
    padding-left: 5px;
}
.scroll-wrapper:hover{
    overflow: auto;
}