html/*.html { overflow: hidden }*/
/**html .clear { zoom: 1 }*/
/**+html .clear { zoom: 1 }*/
/*body { background-color: #F2F2F2; color: #000 }*/
/*.body { background-color: #FFF }*/
/*a:link, a:visited, body { color: #333 }*/
/*a:active, a:hover { color: #F00 }*/
/*hr { border-bottom: 1px solid #D9D9D9 }*/
/*.hd1 { background-color: #262A49; border-bottom: 3px solid #4D5384; white-space: nowrap; position: fixed; top: 0; left: 0; width: 100%; _position: absolute; _top: expression( documentElement.scrollTop) }*/
/*.hd2 { color: #D5D6DE; background-color: #3F4467; height: 58px; white-space: nowrap; position: absolute; top: 0; left: 0; width: 100%; overflow: hidden }*/
/*.hd2-logo { float: left }*/
/*.hd2 a.a1:link, .hd2 a.a1:visited { color: #1D83FF }*/
/*.hd2 a.a1:hover { color: yellow }*/
/*.hd2-logout { float: right; width: 180px; padding-top: 10px; padding-bottom: 12px; border-left: 1px solid #2E324B }*/
/*.hd2-time { float: right; width: 180px; padding-top: 10px; padding-bottom: 12px; border-left: 1px solid #2E324B; border-right: 1px solid #4C4F69 }*/
/*.hd2-txt { height: 36px; line-height: 1.5; display: inline-block; vertical-align: middle; text-align: left; padding-left: 10px }*/
/*.hd2-ctrl { float: right; width: 180px; padding-top: 16px; padding-bottom: 18px; border-right: 1px solid #4C4F69 }*/
/*.bd1 { background-color: #F2F2F2; padding: 63px 0 61px 0 }*/
/*.bd2 { background-color: #FFF; position: absolute; width: 100%; top: 58px; bottom: 41px; left: 0; overflow: hidden; *height: expression((document.documentElement.clientHeight - 99) + "px") }*/
/*.bd2-l { background-color: #F4F4F4; position: absolute; top: 0; bottom: 0; left: 0; width: 170px; overflow-x: hidden; overflow-y: scroll; *height: 100%; scrollBar-track-color: #f9f9f9; scrollBar-base-color: #BBB; scrollbar-shadow-color: #f9f9f9; scrollbar-darkshadow-color: #f9f9f9; scrollbar-highlight-color: #f9f9f9; scrollbar-3dlight-color: #f9f9f9; scrollbar-arrow-color: #BBB; scrollbar-face-color: #DDD }*/
/*.bd2-r { position: absolute; top: 0; left: 171px; right: 0; bottom: 0; border-left: 1px solid #CCC }*/
/*.tt1 { color: #F34242; font-size: 24px }*/
/*a.tt2:link, a.tt2:visited { height: 50px; line-height: 50px; padding-left: 55px; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; display: block; margin-top: -1px; border-right: 4px solid #F4F4F4 }*/
/*a.tt3 { display: block; width: 120px; height: 30px; line-height: 30px; position: relative; padding-left: 20px }*/
/*.tt3-icon { padding-right: 10px; color: #ACACAC }*/
/*.tt4 { background-color: #474E82; padding: 12px 15px; text-align: center }*/
/*.tt5 { padding: 5px; background-color: #474E82; color: #FFF }*/
/*.ct1 { width: 800px; margin: 0 auto; background-color: #FFF }*/
/*.ct2 { width: 860px; margin: 0 auto }*/
/*.ct3 { margin: 0 20px; border-top: 3px solid #FFA5A5 }*/
/*.ct3 .a1 { display: inline-block; vertical-align: middle; height: 22px; line-height: 22px; color: #5781E1 }*/
/*.ct3-icon { position: absolute; left: 90px; top: 5px }*/
/*.ct4 { font-size: 14px }*/
/*.ct5 { padding: 10px; display: none }*/
/*.ct5 a.fcs1:link, a.fcs1:visited { color: #FF6600 }*/
/*.ct6 { padding: 10px 0 10px 25px }*/
/*.ct6 a { display: block; padding: 5px 0 }*/
/*.ct6 a.fcs:link, .ct6 a.fcs:visited { color: #FF6600 }*/
/*.ct6 a.fcs:hover { color: #F00 }*/
/*.ct6-i { background-color: #F86B4F; padding: 1px 10px; border-radius: 10px; color: #FFF; margin-left: 15px; font-size: 12px }*/
/*.tb1 { width: 750px; margin: 0 auto }*/
/*.tb1 td, .tb1 th { padding: 10px; border: 1px solid #FF9191 }*/
/*.tb1 th { color: #F34242; font-weight: normal }*/
/*.ipt1 { border: 1px solid #E0E0E0; height: 26px; line-height: 26px; padding: 0 5px; width: 100px }*/
/*.ipt2 { border: 1px solid #E0E0E0; height: 26px; line-height: 26px; padding: 0 5px; width: 188px }*/
/*.ipt3 { border: 1px solid #E0E0E0; height: 26px; line-height: 26px; padding: 0 5px; width: 600px }*/
/*.ipt1:focus, .ipt2:focus, .ipt3:focus { border: 1px solid #5ABEE9 }*/
/*.ipt-icon1 { background: url(../images/sprite3.png) no-repeat 84px -57px }*/
/*.ipt-icon2 { background: url(../images/sprite3.png) no-repeat 92px -81px }*/
/*a.btn1:link, a.btn1:visited { padding: 10px 20px; background-color: #A3A8CA; color: #FFF; display: inline-block; vertical-align: middle }*/
/*a.btn1:hover { background-color: #B9BFDB }*/
/*a.btn2:link, a.btn2:visited { padding: 10px 20px; background-color: #A3C290; color: #FFF; display: inline-block; vertical-align: middle }*/
/*a.btn2:hover { background-color: #B9D6AA }*/
/*a.icon-a:link, a.icon-a:visited { background-color: #373D69; padding: 5px 10px 5px 10px; color: #F1F1F4 }*/
/*a.icon-a:hover { background-color: #495399 }*/
/*.icon-fon { cursor: pointer; height: 20px; line-height: 20px }*/
/*a.icon-a, .icon-fon, .icon1, .icon2, .icon3, .icon4, .icon5, .icon6, .icon7, .icon8, .icon9, .icon10, .icon11, .icon12, .icon13, .icon14, a.icon15, a.icon16, a.icon17, a.icon18, .icon25, .icon26, .icon27, .icon28, a.icon29, a.icon30, .icon31, .icon32, .icon33, .icon34, .icon35, a.icon36, a.icon37 { display: inline-block; vertical-align: middle }*/
/*.icon38, .icon39, .icon40, .icon41, .icon42, .icon43, .icon44, .icon45, .icon46, .icon47, .icon48, .icon49, .icon50, .icon51, .icon52, .icon53, .icon54, .icon55, .icon56, .icon57, .icon58, .icon59, .icon60, .icon61, .icon62, .icon63, .icon64, .icon65, .icon66, .icon67, .icon68, .icon69, .icon70, .icon71, .icon72, .icon73, .icon74, .icon75, .icon76, .icon77, .icon78, .icon79, .icon80, .icon81, .icon82, .icon83, .icon84, .icon85, .icon86, .icon87, .icon88, .icon89, .icon90, .icon91, .icon92, .icon93, .icon94 { display: inline-block; vertical-align: middle; font-size: 0; line-height: 0 }*/
/*.icon1 { background: url(../images/sprite1.png) no-repeat 0 0; width: 28px; height: 20px }*/
/*.icon2 { background: url(../images/sprite1.png) no-repeat 0 -21px; width: 28px; height: 20px }*/
/*.icon3 { background: url(../images/sprite1.png) no-repeat 0 -42px; width: 28px; height: 20px }*/
/*.icon4 { background: url(../images/sprite1.png) no-repeat 0 -62px; width: 28px; height: 20px }*/
/*.icon5 { background: url(../images/sprite1.png) no-repeat 0 -84px; width: 28px; height: 20px }*/
/*.icon6 { background: url(../images/sprite1.png) no-repeat 0 -103px; width: 28px; height: 20px }*/
/*.icon7 { background: url(../images/sprite1.png) no-repeat 0 -124px; width: 28px; height: 20px }*/
/*.icon8 { background: url(../images/sprite1.png) no-repeat 0 -145px; width: 28px; height: 20px }*/
/*.icon9 { background: url(../images/sprite1.png) no-repeat 0 -166px; width: 28px; height: 20px }*/
/*.icon10 { background: url(../images/sprite1.png) no-repeat 0 -186px; width: 28px; height: 20px }*/
/*.icon11 { background: url(../images/sprite1.png) no-repeat 0 -206px; width: 28px; height: 20px }*/
/*.icon12 { background: url(../images/sprite1.png) no-repeat 0 -226px; width: 28px; height: 20px }*/
/*.icon13 { background: url(../images/sprite3.png) no-repeat 0 0; width: 36px; height: 36px }*/
/*.icon14 { background: url(../images/sprite3.png) no-repeat 0 -39px; width: 28px; height: 20px }*/
/*a.icon15 { background: url(../images/sprite2.png) no-repeat 0 0; width: 24px; height: 24px }*/
/*a.icon16 { background: url(../images/sprite2.png) no-repeat 0 -31px; width: 24px; height: 24px }*/
/*a.icon17 { background: url(../images/sprite2.png) no-repeat 0 -62px; width: 24px; height: 24px }*/
/*a.icon18 { background: url(../images/sprite2.png) no-repeat 0 -93px; width: 24px; height: 24px }*/
/*.icon19 { background: url(../images/sprite4.png) no-repeat 15px 10px }*/
/*.icon20 { background: url(../images/sprite4.png) no-repeat 15px -63px }*/
/*.icon21 { background: url(../images/sprite4.png) no-repeat 15px -133px }*/
/*.icon22 { background: url(../images/sprite4.png) no-repeat 15px -206px }*/
/*.icon23 { background: url(../images/sprite4.png) no-repeat 15px -279px }*/
/*.icon24 { background: url(../images/sprite4.png) no-repeat 15px -352px }*/
/*.icon25 { background: url(../images/sprite2.png) no-repeat 0 -175px; width: 34px; height: 36px }*/
/*.icon26 { background: url(../images/sprite2.png) no-repeat 0 -153px; width: 23px; height: 19px }*/
/*.icon27 { background: url(../images/sprite4.png) no-repeat 1px -419px; width: 11px; height: 11px }*/
/*.icon28 { background: url(../images/sprite2.png) no-repeat 1px -125px; width: 19px; height: 22px }*/
/*a.icon29:link, a.icon29:visited { background: url(../images/sprite1.png) no-repeat 1px -254px; width: 28px; height: 26px; line-height: 26px; padding-left: 22px; padding-right: 10px; color: #E3E6FF; border-right: 1px solid #5F6696 }*/
/*a.icon30:link, a.icon30:visited { background: url(../images/sprite1.png) no-repeat 1px -284px; width: 28px; height: 26px; line-height: 26px; padding-left: 22px; color: #E3E6FF; margin-left: 10px }*/
/*a.icon29:hover, a.icon30:hover { color: yellow }*/
/*.icon31 { background: url(../images/sprite1.png) no-repeat 1px -324px; width: 18px; height: 18px; padding-right: 5px }*/
/*.icon32 { background: url(../images/sprite1.png) no-repeat 1px -343px; width: 18px; height: 18px; padding-right: 5px }*/
/*.icon33 { background: url(../images/sprite1.png) no-repeat 1px -363px; width: 18px; height: 18px; padding-right: 5px }*/
/*.icon34 { background: url(../images/sprite1.png) no-repeat 1px -430px; height: 18px; line-height: 18px; padding-left: 20px }*/
/*.icon35 { background: url(../images/sprite1.png) no-repeat 1px -452px; height: 18px; line-height: 18px; padding-left: 20px }*/
/*a.icon36 { background: url(../images/sprite1.png) no-repeat 1px -383px; width: 18px; height: 18px; padding-right: 5px }*/
/*a.icon37 { background: url(../images/sprite1.png) no-repeat 1px -403px; width: 18px; height: 18px; padding-right: 5px }*/
/*.icon38 { background: url(../images/sprite1.png) no-repeat 0 -475px; width: 17px; height: 16px }*/
/*.icon39 { background: url(../images/sprite1.png) no-repeat 0 -496px; width: 17px; height: 17px }*/
/*.icon40 { background: url(../images/sprite1.png) no-repeat 0 -517px; width: 15px; height: 16px }*/
/*.icon41 { background: url(../images/sprite1.png) no-repeat 0 -536px; width: 18px; height: 18px }*/
/*.icon42 { background: url(../images/sprite1.png) no-repeat 0 -557px; width: 14px; height: 14px }*/
/*.icon43 { background: url(../images/sprite1.png) no-repeat 0 -575px; width: 14px; height: 14px }*/
/*.icon83 { background: url(../images/sprite1.png) no-repeat 0 -592px; width: 16px; height: 16px }*/
/*.icon84 { background: url(../images/sprite1.png) no-repeat 0 -611px; width: 13px; height: 13px }*/
/*.icon44 { background: url(../images/sprite1.png) no-repeat 0 -627px; width: 13px; height: 13px }*/
/*.icon45 { background: url(../images/sprite1.png) no-repeat 0 -642px; width: 17px; height: 17px }*/
/*.icon46 { background: url(../images/sprite1.png) no-repeat 0 -662px; width: 16px; height: 11px }*/
/*.icon47 { background: url(../images/sprite1.png) no-repeat 0 -676px; width: 17px; height: 17px }*/
/*.icon48 { background: url(../images/sprite1.png) no-repeat 0 -696px; width: 17px; height: 17px }*/
/*.icon49 { background: url(../images/sprite1.png) no-repeat 0 -716px; width: 15px; height: 16px }*/
/*.icon50 { background: url(../images/sprite1.png) no-repeat 0 -735px; width: 16px; height: 18px }*/
/*.icon51 { background: url(../images/sprite1.png) no-repeat 0 -757px; width: 17px; height: 17px }*/
/*.icon52 { background: url(../images/sprite1.png) no-repeat 0 -778px; width: 15px; height: 15px }*/
/*.icon53 { background: url(../images/sprite1.png) no-repeat 0 -796px; width: 15px; height: 17px }*/
/*.icon54 { background: url(../images/sprite1.png) no-repeat 0 -816px; width: 15px; height: 17px }*/
/*.icon55 { background: url(../images/sprite1.png) no-repeat 0 -836px; width: 16px; height: 16px }*/
/*.icon56 { background: url(../images/sprite1.png) no-repeat 0 -857px; width: 11px; height: 17px }*/
/*.icon57 { background: url(../images/sprite1.png) no-repeat 0 -877px; width: 18px; height: 15px }*/
/*.icon58 { background: url(../images/sprite1.png) no-repeat 0 -895px; width: 16px; height: 17px }*/
/*.icon59 { background: url(../images/sprite1.png) no-repeat 0 -914px; width: 15px; height: 17px }*/
/*.icon60 { background: url(../images/sprite1.png) no-repeat 0 -933px; width: 17px; height: 17px }*/
/*.icon61 { background: url(../images/sprite1.png) no-repeat 0 -953px; width: 16px; height: 17px }*/
/*.icon62 { background: url(../images/sprite1.png) no-repeat 0 -973px; width: 18px; height: 18px }*/
/*.icon63 { background: url(../images/sprite1.png) no-repeat 0 -992px; width: 18px; height: 18px }*/
/*.icon64 { background: url(../images/sprite1.png) no-repeat 0 -1016px; width: 18px; height: 16px }*/
/*.icon65 { background: url(../images/sprite1.png) no-repeat 0 -1035px; width: 18px; height: 17px }*/
/*.icon66 { background: url(../images/sprite1.png) no-repeat 0 -1056px; width: 18px; height: 18px }*/
/*.icon67 { background: url(../images/sprite1.png) no-repeat 0 -1077px; width: 13px; height: 18px }*/
/*.icon68 { background: url(../images/sprite1.png) no-repeat 0 -1098px; width: 20px; height: 18px }*/
/*.icon69 { background: url(../images/sprite1.png) no-repeat 0 -1119px; width: 14px; height: 18px }*/
/*.icon70 { background: url(../images/sprite1.png) no-repeat 0 -1140px; width: 16px; height: 18px }*/
/*.icon71 { background: url(../images/sprite1.png) no-repeat 0 -1161px; width: 17px; height: 17px }*/
/*.icon72 { background: url(../images/sprite1.png) no-repeat 0 -1180px; width: 18px; height: 18px }*/
/*.icon73 { background: url(../images/sprite1.png) no-repeat 0 -1200px; width: 17px; height: 17px }*/
/*.icon85 { background: url(../images/sprite1.png) no-repeat 0 -1220px; width: 17px; height: 17px }*/
/*.icon74 { background: url(../images/sprite1.png) no-repeat 0 -1241px; width: 22px; height: 10px }*/
/*.icon75 { background: url(../images/sprite1.png) no-repeat 0 -1254px; width: 18px; height: 16px }*/
/*.icon76 { background: url(../images/sprite1.png) no-repeat 0 -1273px; width: 19px; height: 17px }*/
/*.icon77 { background: url(../images/sprite1.png) no-repeat 0 -1293px; width: 23px; height: 19px }*/
/*.icon78 { background: url(../images/sprite1.png) no-repeat 0 -1315px; width: 20px; height: 20px }*/
/*.icon79 { background: url(../images/sprite1.png) no-repeat 0 -1339px; width: 18px; height: 18px }*/
/*.icon80 { background: url(../images/sprite3.png) no-repeat -6px -626px; width: 36px; height: 36px }*/
/*.icon81 { background: url(../images/sprite3.png) no-repeat -6px -673px; width: 36px; height: 36px }*/
/*.icon82 { background: url(../images/sprite3.png) no-repeat -6px -720px; width: 36px; height: 36px }*/
/*.icon86 { background: url(../images/sprite3.png) no-repeat -6px -767px; width: 36px; height: 36px }*/
/*.icon87 { background: url(../images/sprite3.png) no-repeat -64px -626px; width: 36px; height: 36px }*/
/*.icon88 { background: url(../images/sprite3.png) no-repeat -64px -673px; width: 36px; height: 36px }*/
/*.icon89 { background: url(../images/sprite3.png) no-repeat -64px -720px; width: 36px; height: 36px }*/
/*.icon90 { background: url(../images/sprite3.png) no-repeat -64px -767px; width: 36px; height: 36px }*/
/*.icon91 { background: url(../images/sprite3.png) no-repeat -122px -626px; width: 36px; height: 36px }*/
/*.icon92 { background: url(../images/sprite3.png) no-repeat -122px -673px; width: 36px; height: 36px }*/
/*.icon93 { background: url(../images/sprite3.png) no-repeat -122px -720px; width: 36px; height: 36px }*/
/*.icon94 { background: url(../images/sprite3.png) no-repeat -122px -767px; width: 36px; height: 36px }*/
/*a.icon15:hover, a.icon16:hover, a.icon17:hover, a.icon18:hover { opacity: .8; filter: alpha(opacity=80) }*/
/*.ft { color: #000; height: 40px; line-height: 40px; background-color: #FFF; border-top: 1px solid #D9D9D9; white-space: nowrap; position: fixed; bottom: 0; left: 0; width: 100%; _position: absolute; _bottom: auto; _top: expression(documentElement.scrollTop + (documentElement.clientHeight - this.clientHeight) - 1) }*/
/*.ft1 { color: #000; height: 40px; line-height: 40px; background-color: #FFF; border-top: 1px solid #D9D9D9; white-space: nowrap; width: 100%; position: absolute; bottom: 0; left: 0 }*/
/*.ifrm { overflow: auto }*/
/*::-webkit-scrollbar { background-color: #f9f9f9; width: 10px }*/
/*::-webkit-scrollbar-thumb { background-color: #DDD }*/

.html { overflow: hidden }
*html .clear { zoom: 1 }
*+html .clear { zoom: 1 }
body { background-color: #F2F2F2; color: #000 }
.body { background-color: #FFF }
a:visited, body { color: #000000 }
a:active, a:hover { color: #F00 }
hr { border-bottom: 1px solid #D9D9D9 }
.hd1 { background-color: #262A49; border-bottom: 3px solid #4D5384; white-space: nowrap; position: fixed; top: 0; left: 0; width: 100%; _position: absolute; _top: expression( documentElement.scrollTop) }
.hd2 { color: #D5D6DE; background-color: #3F4467; height: 58px; white-space: nowrap; position: absolute; top: 0; left: 0; width: 100%; overflow: hidden }
.hd2-logo { float: left ;height:51px}
.hd2 a.a1:link, .hd2 a.a1:visited { color: #1D83FF }
.hd2 a.a1:hover { color: yellow }
.hd2-logout { float: right; width: 180px; padding-top: 10px; padding-bottom: 12px; border-left: 1px solid #2E324B }
.hd2-time { float: right; width: 180px; padding-top: 10px; padding-bottom: 12px; border-left: 1px solid #2E324B; border-right: 1px solid #4C4F69 }
.hd2-txt { height: 36px; line-height: 1.5; display: inline-block; vertical-align: middle; text-align: left; padding-left: 10px }
.hd2-ctrl { float: right; width: 180px; padding-top: 16px; padding-bottom: 18px; border-right: 1px solid #4C4F69 }
.bd1 { background-color: #F2F2F2;  padding: 15px 0 25px 0 }
.bd2 { background-color: #FFF; position: absolute; width: 100%; top: 58px; bottom: 41px; left: 0; overflow: hidden; *height: expression((document.documentElement.clientHeight - 99) + "px") }
.bd2-l { background-color: #F4F4F4; position: absolute; top: 0; bottom: 0; left: 0; width: 170px; overflow-x: hidden; overflow-y: scroll; *height: 100%; scrollBar-track-color: #f9f9f9; scrollBar-base-color: #BBB; scrollbar-shadow-color: #f9f9f9; scrollbar-darkshadow-color: #f9f9f9; scrollbar-highlight-color: #f9f9f9; scrollbar-3dlight-color: #f9f9f9; scrollbar-arrow-color: #BBB; scrollbar-face-color: #DDD }
.bd2-r { position: absolute; top: 0; left: 171px; right: 0; bottom: 0; border-left: 1px solid #CCC }
.tt1 { color: red; font-size: 24px }
a.tt2:link, a.tt2:visited { height: 50px; line-height: 50px; padding-left: 55px; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; display: block; margin-top: -1px; border-right: 4px solid #F4F4F4 }
a.tt3 { display: block; width: 120px; height: 30px; line-height: 30px; position: relative; padding-left: 20px }
.tt3-icon { padding-right: 10px; color: #ACACAC }
.tt4 { background-color: #474E82; padding: 12px 15px; text-align: center }
.tt5 { padding: 5px; background-color: #474E82; color: #FFF }
.ct1 { width: 800px; margin: 0 auto; background-color: #FFF }
.ct2 { width: 860px; margin: 0 auto }
.ct3 { margin: 0 20px; border-top: 3px solid #FFA5A5 }
.ct3 .a1 { display: inline-block; vertical-align: middle; height: 22px; line-height: 22px; color: #5781E1 }
.ct3-icon { position: absolute; left: 90px; top: 5px }
.ct4 { font-size: 14px }
.ct5 { padding: 10px; display: none }
.ct5 a.fcs1:link, a.fcs1:visited { color: #FF6600 }
.ct6 { padding: 10px 0 10px 25px }
.ct6 a { display: block; padding: 5px 0 }
.ct6 a.fcs:link, .ct6 a.fcs:visited { color: #FF6600 }
.ct6 a.fcs:hover { color: #F00 }
.ct6-i { background-color: #F86B4F; padding: 1px 10px; border-radius: 10px; color: #FFF; margin-left: 15px; font-size: 12px }
.tb1 { width: 750px; margin:0 auto;table-layout: fixed; }
.tb1 td, .tb1 th { padding: 5px; border: 1px solid #f00 }
.tb1 tr{height:43px}
.tb1 th { color: #ff0000; font-weight: normal ; width: 100px;text-align:center;}

.tb2 { width: 750px; margin:0 auto;table-layout: fixed; }
.tb2 td, .tb2 th { padding: 10px; border: 1px solid #decabc }
.tb2 th { color: #000000; font-weight: normal ; width: 100px;text-align:center;}

.tdSpan{vertical-align: top;padding-left: 12px!important;}
.haedfont{ margin-bottom: 5px;font: bold 22pt \65B9\6B63\5C0F\6807\5B8B\7B80\4F53;color:red;letter-spacing: 1pt;}
.dib-rt{display: inline-block; vertical-align: middle;margin-top: -32px;margin-left: -15px;}
.dib{display: inline-block;}

.tb1height { color: #8d4a4a; font-weight: normal ; width: 100px;text-align:center;height:50px}
.ipt { border: 1px solid #E0E0E0; height: 25px;  width: 61px}
.ipt1 { border: 1px solid #E0E0E0; height: 30px; line-height: 16px; padding: 0 5px; width: 90px }
.ipt2 { border: 1px solid #E0E0E0; height: 30px; line-height: 16px; padding: 0 5px; width: 220px }
.ipt3 { border: 1px solid #E0E0E0; height: 30px; line-height: 16px; padding: 0 5px; width: 595px }
.bd0{border:none!important}

.ipt4 { border: 1px solid #E0E0E0; height: 29px; line-height: 16px; padding: 0 5px; width:94%}
.ipt5{border: 1px solid #E0E0E0;height: 28px; line-height: 16px;padding: 0 5px;width:98% }
.ipt6{border: 1px solid #E0E0E0;height: 50px; line-height: 16px;padding: 0 5px;width:98% }
.ipt7{border: 1px solid #E0E0E0;height: 90px; line-height: 16px;padding: 0 5px;width:98% }
.ipt8{border: 1px solid #E0E0E0;height: 150px; line-height: 16px;padding: 0 5px;width:98% }
/* 教育厅综合管理模块 */
.ipt4_1 { border: 1px solid #E0E0E0; height: 25px; line-height: 16px; padding: 0 5px; width: 92% }
.ipt1_1 { border: 1px solid #E0E0E0; height: 25px; line-height: 16px; width: 47%}
.ipt7_1{border: 1px solid #E0E0E0;height: 90px; line-height: 16px;padding: 0 5px;width:92% }
.ipt_span{color:red}
.font_zongxiang{width: 1em;margin-left: auto;margin-right: auto;font-size: 14px;    display: inline-block;}
.font_zongxiang_1{width: 1em;float:right;font-size: 14px;}

.ipt1:focus, .ipt2:focus, .ipt3:focus { border: 1px solid #5ABEE9 }
.ipt-icon1 { background: url(../../images/sprite3.png) no-repeat 84px -57px }
.ipt-icon2 { background: url(../../images/sprite3.png) no-repeat 92px -81px }

a.icon-a:link, a.icon-a:visited { background-color: #373D69; padding: 5px 10px 5px 10px; color: #F1F1F4 }
a.icon-a:hover { background-color: #495399 }
.icon-fon { cursor: pointer; height: 20px; line-height: 20px }
a.icon-a, .icon-fon, .icon1, .icon2, .icon3, .icon4, .icon5, .icon6, .icon7, .icon8, .icon9, .icon10, .icon11, .icon12, .icon13, .icon14, a.icon15, a.icon16, a.icon17, a.icon18,.ico19,.ico20,.ico21,.ico22,.ico23,.ico24,.icon25, .icon26, .icon27, .icon28, a.icon29, a.icon30, .icon31, .icon32, .icon33, .icon34, .icon35, a.icon36, a.icon37 { display: inline-block; vertical-align: middle }
.icon38, .icon39, .icon40, .icon41, .icon42, .icon43, .icon44, .icon45, .icon46, .icon47, .icon48, .icon49, .icon50, .icon51, .icon52, .icon53, .icon54, .icon55, .icon56, .icon57, .icon58, .icon59, .icon60, .icon61, .icon62, .icon63, .icon64, .icon65, .icon66, .icon67, .icon68, .icon69, .icon70, .icon71, .icon72, .icon73, .icon74, .icon75, .icon76, .icon77, .icon78, .icon79, .icon80, .icon81, .icon82, .icon83, .icon84, .icon85, .icon86, .icon87, .icon88, .icon89, .icon90, .icon91, .icon92, .icon93, .icon94 { display: inline-block; vertical-align: middle; font-size: 0; line-height: 0 }
.icon1 { background: url(../../images/sprite1.png) no-repeat 0 0; width: 28px; height: 20px }
.icon2 { background: url(../../images/sprite1.png) no-repeat 0 -21px; width: 28px; height: 20px }
.icon3 { background: url(../../images/sprite1.png) no-repeat 0 -42px; width: 28px; height: 20px }
.icon4 { background: url(../../images/sprite1.png) no-repeat 0 -62px; width: 28px; height: 20px }
.icon5 { background: url(../../images/sprite1.png) no-repeat 0 -84px; width: 28px; height: 20px }
.icon6 { background: url(../../images/sprite1.png) no-repeat 0 -103px; width: 28px; height: 20px }
.icon7 { background: url(../../images/sprite1.png) no-repeat 0 -124px; width: 28px; height: 20px }
.icon8 { background: url(../../images/sprite1.png) no-repeat 0 -145px; width: 28px; height: 20px }
.icon9 { background: url(../../images/sprite1.png) no-repeat 0 -166px; width: 28px; height: 20px }
.icon10 { background: url(../../images/sprite1.png) no-repeat 0 -186px; width: 28px; height: 20px }
.icon11 { background: url(../../images/sprite1.png) no-repeat 0 -206px; width: 28px; height: 20px }
.icon12 { background: url(../../images/sprite1.png) no-repeat 0 -226px; width: 28px; height: 20px }
.icon13 { background: url(../../images/sprite3.png) no-repeat 0 0; width: 36px; height: 36px }
.icon14 { background: url(../../images/sprite3.png) no-repeat 0 -39px; width: 28px; height: 20px }
a.icon15 { background: url(../../images/sprite2.png) no-repeat 0 0; width: 24px; height: 24px }
a.icon16 { background: url(../../images/sprite2.png) no-repeat 0 -31px; width: 24px; height: 24px }
a.icon17 { background: url(../../images/sprite2.png) no-repeat 0 -62px; width: 24px; height: 24px }
a.icon18 { background: url(../../images/sprite2.png) no-repeat 0 -93px; width: 24px; height: 24px }
.ico19 { background: url(../../images/sprite1.png) no-repeat 0 -1140px; width: 28px; height: 20px }
.ico20 { background: url(../../images/sprite1.png) no-repeat 0 -894px; width: 28px; height: 20px }
.ico21 { background: url(../../images/sprite1.png) no-repeat 0 -994px; width: 28px; height: 20px }
.ico22 { background: url(../../images/sprite1.png) no-repeat 0 -1076px; width: 28px; height: 20px }
.ico23 { background: url(../../images/sprite1.png) no-repeat 0 -1219px; width: 28px; height: 20px }
.ico24 { background: url(../../images/sprite1.png) no-repeat 0 -952px; width: 28px; height: 20px }

.icon40 { background: url(../../images/sprite1.png) no-repeat 0 -1140px; width: 28px; height: 20px }
.icon41 { background: url(../../images/sprite1.png) no-repeat 0 -894px; width: 28px; height: 20px }
.icon42 { background: url(../../images/sprite1.png) no-repeat 0 -994px; width: 28px; height: 20px }
.icon43 { background: url(../../images/sprite1.png) no-repeat 0 -1076px; width: 28px; height: 20px }
.icon44 { background: url(../../images/sprite1.png) no-repeat 0 -1219px; width: 28px; height: 20px }
.icon45 { background: url(../../images/sprite1.png) no-repeat 0 -952px; width: 28px; height: 20px }
.icon46 { background: url(../../images/sprite1.png) no-repeat 0 -287px; width: 28px; height: 20px }
.icon47 { background: url(../../images/sprite1.png) no-repeat 0 -1219px;  width: 28px; height: 20px }
.icon48 { background: url(../../images/sprite1.png) no-repeat 0 -1315px;  width: 28px; height: 20px }
.icon49 { background: url(../../images/sprite1.png) no-repeat 0 -321px;  width: 28px; height: 20px }

.ct1-file { margin: 0 auto; background-color: #FFF }
.tt1-file { color: #F34242; font-size: 24px }
.ct2 { width: 860px; margin: 0 auto }

select.m-wrap {
    color:#000000;
    width:100px;
    background-color: #ffffff;
    background-image: none !important;
    filter: none !important;
    border: 1px solid #e5e5e5;
    outline: none;
    height: 32px !important;
    line-height: 25px;
}
select.m-wrap2{
    color:#000000;
    width:233px;
    background-color: #ffffff;
    background-image: none !important;
    filter: none !important;
    border: 1px solid #e5e5e5;
    outline: none;
    height: 32px !important;
    line-height: 25px;
}
select.m-wrap-zd {
    color:#000000;
    width:223px;
    background-color: #ffffff;
    background-image: none !important;
    filter: none !important;
    border: 1px solid #e5e5e5;
    outline: none;
    height: 32px !important;
    line-height: 25px;
    border:none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
textarea{
    color:#000000;
}
input{

    color:#000000;
}
table td{
    color:#000000;
}
/*閸楁洟锟藉顢嬮幐澶愭尦閺嶅嘲绱�*/
.demo--label{display:inline-block;margin : 0px 10px 0px 5px;color:#000000;}
.demo--radio{display:none;}
.demo--radioInput{background-color:#fff;border:2px solid rgba(0,0,0,0.15);border-radius:100%;display:inline-block;height:20px;margin-right:10px;margin-top:-1px;vertical-align:middle;width:20px;line-height:1}
.demo--radio:checked + .demo--radioInput:after{background-color:#00A1E9;border-radius:100%;content:"";display:inline-block;height:10px;margin-left:5px;margin-top:5px;width:10px}
.demo--checkbox.demo--radioInput,.demo--radio:checked + .demo--checkbox.demo--radioInput:after{border-radius:0}
.demo--radio:checked + .demo--radioInput{border:2px solid #00A1E9;}

.bd-page{
    width: 100%;
    position: fixed;
    _position: absolute;
    top: 50%;
    line-height: 25px;
}
.bd-page-l {
    width: 80px;
    position: absolute;
    top: 0;
    margin-top: -50px;
    left: 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.bd-page-r {
    width: 80px;
    position: absolute;
    top: 0;
    margin-top: -50px;
    right: 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.bd-page img {
    width: 80px;
    opacity: .5;
    filter: alpha(opacity=50);
}

